*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
  display: block;
}

.btn {
  width: 100px;
  margin-left: 10px;
}

.btnAdd {
  text-align: center;
  margin-top: 10px;
}

.title {
  margin-bottom: 20px;
}

.form {
  margin-bottom: 10px;
}

.form__input {
  margin: 0 10px;
}

.filter {
  display: block;
  margin-bottom: 10px;
}

.title_form {
  text-align: center;
  margin-bottom: 10px;
}
